[submodule "fabric-ca"]
	path = fabric-ca
	url = https://gerrit.hyperledger.org/r/fabric-ca
	branch = release-1.4
[submodule "fabric-sdk-java"]
	path = fabric-sdk-java
	url = https://gerrit.hyperledger.org/r/fabric-sdk-java
