[access]
	inheritFrom = All-Projects
[project]
	description = Hyperledger Fabric Tests
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-fabric-test-committers
	read = group GitHub Replication
[access "refs/tags/*"]
	push = group ldap/hyperledger-gerrit-fabric-test-committers
	pushTag = group ldap/hyperledger-gerrit-fabric-test-committers
	pushSignedTag = group ldap/hyperledger-gerrit-fabric-test-committers
