[access]
	inheritFrom = All-Projects
[project]
	description = Hyperledger Fabric Tests
[access "refs/*"]
	owner = group ldap/hyperledger-gerrit-fabric-test-committers
	read = group GitHub Replication
[access "refs/heads/*"]
	create = group ldap/hyperledger-gerrit-fabric-test-committers
[access "refs/tags/*"]
	push = group ldap/hyperledger-gerrit-fabric-test-committers
	createTag = group ldap/hyperledger-gerrit-fabric-test-committers
	createSignedTag = group ldap/hyperledger-gerrit-fabric-test-committers
