[
 {
         "name": "collectionMarbles",
         "policy": {
             "identities": [
{% for peerorg in identities[0].orgs if peerorg in item.orgs %}
               {
                 "role": {
                   "name": "{{ identities[0].role }}",
                   "mspId": "{{ peerorg }}"
                 }
{%  if not loop.last %}
               },
{%  else %}
               }
{%  endif %}
{% endfor %}
             ],
             "policy": {
                 {{ policy }}
             }
         },
         "requiredPeerCount": 1,
         "maxPeerCount": 2,
         "blockToLive": 1000000
 },
 {
         "name": "collectionMarblePrivateDetails",
         "policy": {
             "identities": [
{% for peerorg in identities[0].org if peerorg in item.orgs %}
               {
                 "role": {
                   "name": "identities[0].role",
                   "mspId": "{{ peerorg }}"
                 }
{%  if not loop.last %}
               },
{%  else %}
               }
{%  endif %}
{% endfor %}
             ],
             "policy": {
                 {{ policy }}
             }
         },
         "requiredPeerCount": 1,
         "maxPeerCount": 2,
         "blockToLive": 1000000
 }
]
