[
 {
         "name": "collectionMarbles",
         "policy": {
             "identities": [
{% for peerorg in peerorgs if peerorg in item.orgs %}
               {
                 "role": {
                   "name": "peer",
                   "mspId": "{{ peerorg }}"
                 }
{%  if not loop.last %}
               },
{%  else %}
               }
{%  endif %}
{% endfor %}
             ],
             "policy": {
               "1-of": [
                 {
                   "signed-by": 0
                 },
                 {
                   "signed-by": 1
                 }
               ]
             }
         },
         "requiredPeerCount": 1,
         "maxPeerCount": 2,
         "blockToLive": 1000000
 },
 {
         "name": "collectionMarblePrivateDetails",
         "policy": {
             "identities": [
{% for peerorg in peerorgs if peerorg in item.orgs %}
               {
                 "role": {
                   "name": "peer",
                   "mspId": "{{ peerorg }}"
                 }
{%  if not loop.last %}
               },
{%  else %}
               }
{%  endif %}
{% endfor %}
             ],
             "policy": {
               "1-of": [
                 {
                   "signed-by": 0
                 },
                 {
                   "signed-by": 1
                 }
               ]
             }
         },
         "requiredPeerCount": 1,
         "maxPeerCount": 2,
         "blockToLive": 1000000
 }
]
